/* mnpstylesheet.css */

/*===================== Style rule for the body element ===================*/
body {
  background-color: black;
  background-image: linear-gradient(black,blue); 
  font: 60 pt Tahoma, Arial, sans-serif; 
  color: white;
  margin:0;

}


/* Eliminate default margins for all heading types 
h1, h2, h3, h4, h5, h6{
  margin:0;
}*/

/* Make HTML5 layout elements block elements for older browsers */
header, nav, aside, article, footer, section{
 display:block;
}

/*===================================== Layout Sections ======================*/

/*Flicker Animation*/
	.neon{
		font: 100px/80px 'Tilt Neon', cursive;
		text-align: center;
  		text-shadow: 1px 0px 4px #f38765, 2px 0px 4px #f38765, 3px 0px 4px #f38765, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;
		
		/* Border*/
		border-style: groove;
		border-color: #bcdfeb;
		border-width: 10px;
		box-shadow:10px 0px 25px #bcdfeb;
		padding: 15px;
		
	     }

	.flicker-slow{
		 animation: flicker 3s linear infinite;
		      }

	
	.flicker-fast{
		 animation: flicker 1s linear infinite;
	   	     }

	@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		//text-shadow: none;
   		 opacity: .99;
		
	}

	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}



/*======================== Styling for the sidebar section (aside)===================*/
aside{
	 font: 25px "Tilt Neon", cursive;
	 width: 130px;
	 padding: 20px;
	 float: top;
}

/*======================== Styling for links in nav section ======================*/
nav a{
 	 display:inline-block;
	 background-color: none;
	 color: #fff;
	 font-weight: bold;
	 text-align: center; 
	 /* As wide as the content width */
	 width: 100%;
	 /* Small vertical margin, zero side margin */
	 margin: 2px 0;
	 /* Bigger text */
	 font-size: 22px;
	 /* Some extra height */
	 padding: 12px 0;
	 /* No underline or dotted outline */
	 text-decoration: none;
	 outline: none;
}

nav a:link, nav a:visited {
 	background-color: #000;
	 color: #fff;
}
 


nav a:hover, nav a:active {
 	background-color: #000;
 	color: #fff;
}



/*========================= Styling for the article section ========================*/

/* Style elements inside of article*/
.block {
	border-style:groove;
	border-color:blue;
	border-size:10px;
	box-shadow:0px 0px 15px blue;
	padding: 5px;
}

article{
	 /* Left margin should match neighboring column full width */
	 margin-left:150px;
}


/* ====================== Links and link states in article section. ================== */


/* Unvisited links */
article a:link {
	  color: #0c391c;
}


/* Visited links */
article a:visited {
	  color: #af4600;
}


/* Mouse pointer on link */
article a:hover {
	  background-color: #bc9f81;
	  color: blue;
}


/* Mouse pointer on link and left button down */
article a:active {
	  background-color: #1e2953;
	  color: #bc9f81;
}




/*======================== General style rules and classess========================*/

/* Style for h1 headings */
h1 {
	  font: 50px 'Tilt Neon', sans serif;
	  text-align: left;
	  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
	  margin-left: 190px;
	  margin-top: 0px;
}


/* Style for h2 headings */
h2 {
		font: 50px 'Tilt Neon', sans serif;
		text-align: left;
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
		margin-left: 290px;
}


/* Style for h3 headings */
h3 {
 	  	font: 50px 'Tilt Neon', sans serif;
		text-align: left;
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
		margin-left: 90px;
}



/* Style for bullet points */
li {
	  line-height: 1.5;
	  margin-top: 0;
	  font: 25px Tahoma, Gadget, Sans-Serif;
	  text-align: left;
	  margin-left: 400px;
	  list-style-position:inside;
}




/* Style for paragraphs */
p {
  	  line-height: 1.5;
	  margin-top: 0px;
	  font: 25px Tahoma, Gadget, Sans-Serif;
	  text-align: left;
	  margin-left: 400px;
}

.pdubs:hover {

	font: 40px Tahoma, Sans-Serif;
	text-decoration: underline dotted;
}

	

/* === Style classes === */

/* Highlight any span of text */
.hilite {
 	 background-color: grey;
}


/* Create raised appearance with border, rounded corners, and shadow. Works with images, tables, and block elements (div, p, and headings) */
.raised {
	 border: solid 1px gray;
	 border-radius: 5px;
 	 box-shadow: 5px 5px 5px gray;

}


/* ======================== Style for Gallery ===================================*/
*,
*::before,
*::after {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  column-count: 3;
  --webkit-column-count: 3;
  --moz-column-count: 3;
  gap: 2rem;
  padding: 4rem;
}

.image img {
  height: auto;
  width: 100%;
}

/* Responsive-ness for different screen-sizes */
@media screen and (max-width: 810px) {
  .gallery {
    column-count: 3;
    --webkit-column-count: 3;
    --moz-column-count: 3;
  }
}

@media screen and (max-width: 500px) {
  .gallery {
    column-count: 2;
    --webkit-column-count: 2;
    --moz-column-count: 2;
  }
}

@media screen and (max-width: 400px) {
  .gallery {
    column-count: 1;
    --webkit-column-count: 1;
    --moz-column-count: 1;
  }
}







/*============================= Styling for footer ================================*/
   footer{
	  clear:both;
	  height:35px;
	  padding:5px;
	  background-color: #000;
	  border-bottom-left-radius: 18px;
	  border-bottom-right-radius: 18px;
}

/*Styling for table in footer*/
   footer table {
	  width: 98%;
	  margin: 5px auto;
	  color:#000;
   }
